@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #999;
}

.rolling-menu__elements {
  width: 1300px;
  height: 1300px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.rolling-menu__element-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.rolling-menu__element {
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.rolling-menu__element_pyro {
  -webkit-transform: translate(-50%, -50%) rotate(79deg) translateY(550px);
          transform: translate(-50%, -50%) rotate(79deg) translateY(550px);
}

.rolling-menu__element_hydro {
  -webkit-transform: translate(-50%, -50%) rotate(56deg) translateY(550px);
          transform: translate(-50%, -50%) rotate(56deg) translateY(550px);
}

.rolling-menu__element_anemo {
  -webkit-transform: translate(-50%, -50%) rotate(28deg) translateY(550px);
          transform: translate(-50%, -50%) rotate(28deg) translateY(550px);
}

.rolling-menu__element_electro {
  -webkit-transform: translate(-50%, -50%) rotate(0deg) translateY(550px);
          transform: translate(-50%, -50%) rotate(0deg) translateY(550px);
}

.rolling-menu__element_dendro {
  -webkit-transform: translate(-50%, -50%) rotate(-28deg) translateY(550px);
          transform: translate(-50%, -50%) rotate(-28deg) translateY(550px);
}

.rolling-menu__element_cryo {
  -webkit-transform: translate(-50%, -50%) rotate(-56deg) translateY(550px);
          transform: translate(-50%, -50%) rotate(-56deg) translateY(550px);
}

.rolling-menu__element_geo {
  -webkit-transform: translate(-50%, -50%) rotate(-79deg) translateY(550px);
          transform: translate(-50%, -50%) rotate(-79deg) translateY(550px);
}

.rolling-menu__element:hover .rolling-menu__icon {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.rolling-menu__icon {
  -webkit-filter: drop-shadow(10px 10px 10px #000);
          filter: drop-shadow(10px 10px 10px #000);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}

.rolling-menu__icon_pyro {
  fill: #FE925D;
}

.rolling-menu__icon_hydro {
  fill: #21E1EB;
}

.rolling-menu__icon_anemo {
  fill: #72E2C3;
}

.rolling-menu__icon_electro {
  fill: #A757CB;
}

.rolling-menu__icon_dendro {
  fill: #23C18A;
}

.rolling-menu__icon_cryo {
  fill: #A0E9E5;
}

.rolling-menu__icon_geo {
  fill: #E3B342;
}
